.hiw-container{
  display: flex;
  flex-direction: column;;
  gap: 2rem;
}

.hiw-features{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.hiw-feature{
  max-width: 80%;
  display: flex;
  align-items: center;
  
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  margin-top: 30px;
}

.detail h1{
  font-size: larger;
  padding-top: 6px;
}
.detail p{

  font-size: medium;
  padding-top: 10px;
  opacity: 40%;
}